<div class="results-block offset-sm-5">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header results-block offset-sm-3">
    <strong>Symbol: </strong> <%= @stock.ticker.upcase %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Price: </strong> <%= @stock.last_price %>
    <% if current_user.can_track_stocks?(@stock.ticker) %>
      <%# Below we are sending the current user and the ticker of the stock to the stocks_users controller %>
      <%= link_to 'Add to portfolio', stocks_users_path(user: current_user.id, abc: @stock.ticker), 
                                                        class: "btn btn-xs btn-success add-btn", method: :post %>
    <% else %>
      <span class="badge bg-warning rounded-pill cannot-track-badge">
        You are already tracking 
        <% if !current_user.under_stock_limit? %>
          10 stocks.
        <% else %>
          this stock.
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>